@charset "UTF-8";
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Иконки */
.icon {
  box-sizing: content-box;
}

/* Иконки */
/* заголовки */
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

/* заголовки */
.transition {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.143;
  color: #757575;
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*========================================== header ==========================================*/
.header__line::after {
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ececec;
}

.header__block {
  display: flex;
  align-items: center;
  height: 80px;
}

.header__logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 85px;
  color: #212121;
}

.header__logo span {
  color: #2196f3;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-list {
  display: flex;
}

.navigation-list .action {
  color: #2196f3;
}

.navigation-list .action::after {
  /* display: block; */
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-item-link {
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  color: #212121;
}

.navigation-list-item-link:hover, .navigation-list-item-link::focus {
  color: #2196f3;
  height: 4px;
  border-radius: 2px;
}

.address {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.address-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.address-link:last-child {
  margin-left: 30px;
}

.address-link:hover, .address-link:focus {
  color: #2196f3;
}

.address-link:hover .address-link-icon, .address-link:focus .address-link-icon {
  fill: #2196f3;
}

.address-link-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

/*========================================== header ==========================================*/
/*======================================= Портфолио Кнопка =========================================*/
.filters {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-div {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.filters-btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  color: #212121;
}

.filters-btn:not(:last-child) {
  margin-right: 8px;
}

.filters-btn:hover, .filters-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*======================================= Портфолио Кнопка =========================================*/
/*======================================= Портфолио Галерея =========================================*/
.portfolio-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-hover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: rgba(32, 148, 243, 0.902);
  transform: translateY(100%);
  padding: 64px 24px 64px 24px;
}

.portfolio-list-item {
  width: calc((100% - 30px * 2)/3);
  background: #ffffff;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-item a {
  text-decoration: none;
}

.portfolio-list-item:nth-child(3n+3) {
  margin-right: 0;
}

.portfolio-list-item:nth-child(n+7) {
  margin-bottom: 0;
}

.portfolio-list-item:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item:hover .project-hover {
  transform: translateY(0);
}

.project-block {
  position: relative;
  overflow: hidden;
}

.project-block img {
  display: block;
  width: 100%;
  height: auto;
}

.project__text-hover {
  font-size: 14pt;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project__block-text {
  overflow: hidden;
  border: 1px solid #ededed;
  border-top: 0;
  padding: 20px 24px;
  text-decoration: none;
}

.project__block-text h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__block-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  letter-spacing: 0.03em;
}

/*======================================= Портфолио Галерея =========================================*/
/*======================================== Подвал ========================================*/
.footer__padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.basement {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer__bg-color {
  background-color: #2f303a;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__logo span {
  color: #2196f3;
}

.footer-list {
  margin-top: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-item-link {
  font-style: normal;
  font-weight: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-item-link:hover {
  color: #2196f3;
}

.social-list-item {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list-icon {
  display: flex;
  margin-top: 20px;
}

.social-list-items:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-list-item-link:hover {
  background-color: #2196f3;
}

.social-list-item-link-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.e-mail-list {
  display: flex;
  margin-top: 20px;
}

.e-mail__text {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.e-mail-list-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  padding: 15px 16px;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-align: start;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.e-mail-list-input:focus::placeholder {
  color: transparent;
}

.e-mail-list-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  cursor: pointer;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
}

.e-mail-list-btn:hover {
  background-color: #188ce8;
}

.e-mail-list-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

/*======================================== Подвал ========================================*/
/*# sourceMappingURL=portfolio.css.map */